@page
@model IndexModel
@{
    ViewData["Title"] = "MyLibrary";
}

<div class="text-center">
    <p>
        <a href="https://localhost:5001/Forms/index">
            <img id="BooksIndex" src="https://www.southlanddc.govt.nz/assets/Uploads/_resampled/CroppedFocusedImageWyI4MzQiLCIzNjgiLCJ5Iiw1OF0/libraryjoin.png" alt="Books" width="500" height="300">
        </a>
    </p>

    <h1 class="index-h1">WELCOME TO MY LIBRARY</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star" color="white"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <p class="index-p">This is collection of books i've read.</p>
</div>



