@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <p>        
            <img id="privacy-BooksIndex" src="~/papaJAMES.png" alt="Books" width="500" height="300">
    </p>

    <h1 class="index-h1">ABOUT ME</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star" color="white"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <p class="index-p">I’m student in Information Technology faculty at Opole University of Technology, who seeks for more knowledge everyday.</p>
</div>
